/* Importaar letra Embed code*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Importar cursiva */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Importa tipo pincel  */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+TAS+Beginner:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
:root{
  /* Colors */
  --rojo: #FF0000;
  --negro: #000000;
}


.nav{
  z-index: 10;
}
/* flex */
.flex{
  display: flex;
  flex-direction: row;
}
.flex-end{
  justify-content: flex-end;
}
.flex-justify-center{
  justify-content: center;
  width: 100%;
}
.flex-space-evelyn{
  justify-content: space-evenly;
}
.flex-column{
  flex-direction: column;
}
.flex-aling-center{
  align-items: center;
}
.flex-column-end{
  align-items: end; 
}
.flex-space-between{
  justify-content: space-between;
}
.flex-space-around{
  justify-content: space-around;
}


/* width */
.width{
  width: 100%;
}
.max-width{
  max-width: 1720px;
}
.width-10{
  width: 10px;
}
.width-100{
  width: 100px;
}

/* heigth */
.heigth{
  height: 200px;
}
.heigth-50{
  height: 50%;
}
.heigth-10{
  height: 10px;
}

/* color */
.rojo{
  background-color: var(--rojo);
}
.verde{
  background-color: green;
}
.beige{
  background-color: #e8e7a7;
}
/* colors text */
.color_black{
  color: var(--negro);
}

/* image */
.logo{
  width: 10vw;
}

.img2{
  left: -12vw;
  top: 55vh;
  width: 30vw;
}
.img3{  
  width: 40vw;
}
.img4{
  top: 45vh;
  right: 3vw;
  width: 30vw;
}
.img5{
  top: 4vh;
  left: 28vw;
  width: 30vw;
}
.img6{
  top: 30vh;
  left: 28vw;
  width: 40vw;
}
.img7{
  left: -.5vw;
}
.img8{
  background-size: cover;
  width: 25vw;
}

/* position */
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}

/* margin */
.margin-top{
  margin-top: 2vh;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-rigth{
  margin-right: 6vw;
}
.margin-botton-10{
  margin-bottom: 10vh;
}

/* text */
.text__Header1{
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.text__Header2{
  font-family:  "Roboto", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.text-nav{
  font: 1em sans-serif;
  font-weight: 500;
  font-style: bold;
}
.text-none{
  text-decoration: none;
}
.text-cursive{
  font-family: "Cedarville Cursive", cursive;
  font-size: 3rem;
}
.text-lap{
  font-family: "Edu TAS Beginner";
  font-weight: 500;
  font-size: 6rem;
}
.text-title{
  font-family: "Edu TAS Beginner";
  font-weight: 500;
  font-size: 4rem;
}
.text-h3{
  font-weight:400 ;
  font-size: 2rem;
}
.text{
  font-size: 1rem;
}

/* Icons */
.icon-smarphone{
  font-size: 5rem;
}

/* list */
.list-none{
  list-style: none;
}

/* articles */
.article{
  width: 100%;
  height: 100vh;
  z-index: 2;
}

/* button */
.button{
  padding: 1rem 2rem 1rem 2rem;
  border: solid var(--negro) .5px;
  transition: 0.5s ease, transform 0.5s ease;
}
.button:hover{
  color: white;
  background-color: var(--negro);
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
}

.clip-path-1{
  z-index: -1;
  clip-path: polygon(0 0%, 43% 0, 76% 100%, 0% 100%);
  background-color: #fee101;
  width: 100%;
  height: 100%;
  position: absolute;
}
.clip-path-2{
  z-index: -1;
  clip-path: polygon(100% 0, 43% 0, 76% 100%, 100% 100%);
  background-color: #ebeaaa;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Position absolute top */
.rigth-0{
  right: 0;
}
.top-145{
  top: 145vh;
}

/* z-index */
.z-index{
  z-index: -1;
}

/* radios */
.radius-50{
  border-radius: 50%;
}